h4{
    padding: 10px 0px 10px 0px;
    font-size: 20px;

}
.my-subtitle{
    padding: 20px 0px 0px 0px ;
    font-size: 30px;
    color: black;
    font-weight: bolder;
    margin-bottom: 0px;
}


.my_banner{
  height: 120px;
  background-image: url(img/website_header.JPG);  
  background-position: center;
  background-repeat: no-repeat;
  background-size: 25%;
  display: block;
  background-color: #fff;
  min-height: 3.25rem;
  position: relative;
  z-index: 30;
  padding-top: .5rem;
  padding-bottom: .5rem;
  
}

#banner-padding{
    padding-bottom: 25px;
}



#header-button{
    display: block;
    float: right;
}

#showcase{
    height: 500px;
    background-image: url(img/dylan_and_lennon.webp);
    background-position: center;
}

.inner-div-centre{
  display: inline-block;
  margin: 0 auto;
  padding: 3px;
}


.outer-div-centre{
  width: 100%;
  text-align: center;
  padding-bottom: 25px;
}

.main-content{
    width: 90%;
   
}

.nav-padding{
    padding-top: 30px;
}

.card-footer{
    padding-top: 20px;
    background-color: #fff;
    margin-top: 0px;
}

.card-footer a{
    color: black;
    text-decoration: none;
}

.card-footer a:hover{
    color: blue;
    text-decoration: underline;
}


#myfooter{
    height: 100px;
}

#footer-link{
    padding-top: 50px;
    padding-left: 10px;
}

.album_art{
    height: auto;
    margin: auto;
    border-radius: 8px;
    

}

.sign-up-text{
    width: 80%;
    margin-bottom: 50px;
    text-align: center;

}

.very-doge{
    max-width: 90%;
    height: auto;
    text-align: center;
}

ul.mylist{
    list-style-type: none;
    padding-left: 0px;
}

ul.mylist li{
    margin:10px;
   
}

.button-margin{
    margin: 5px;
}

.wrap{
    overflow-wrap: break-word;
}

